.post-info-other{
  padding: 20px 25px;
  border-top: 1px solid #a59e9e26;
  display: flex;
  align-items:center;
  margin-bottom: 20px;
  background-color: #fff;
  &-comment{
    cursor: pointer;
    margin-right: 20px;
    font-size:15px;
    color:black;
    >span{
      padding: 0 5px;
    }
  }
  &-view{
    margin-right: 20px;
    font-size:15px;
    color:black;
    >span{
      padding: 0 5px;
    }
  }
  &-like{
    cursor: pointer;
    margin-right: 20px;
    font-size:15px;
    color:black;
    >span{
      padding: 0 5px;
    }
  }
}
.active_like{
  color:#1967d2;
}