.title_add_post_wrap{
  text-align:center;
  margin: 50px 0;
}
.title_add_post{
  text-align: center;
  font-family: system-ui;
  display: inline-block;
  text-transform: uppercase;
  &::after,::before{
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
  background-color:#f8f8f8;
  }
}
.title_edit_post{
  font-weight: 700;
  margin: 60px 0;
  text-align: center;
}
#form-container {
  width: 500px;
}

.change-link {
  background-color: #000;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  bottom: 0;
  color: #fff;
  opacity: 0.8;
  padding: 4px;
  position: absolute;
  text-align: center;
  width: 150px;
}
.change-link:hover {
  color: #fff;
  text-decoration: none;
}


#editor-container {
  height: 130px;
}
.btn-submit-send_post{
    display: block;
    padding: 10px 20px;
    width: 191px;
    background: none;
    margin: auto;
    border: 2px solid #1ECD97;
    font-size: 18px;
    font-family: "Lato";
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-top: 20px;
    background: #1ECD97;
    color: white;
    border-radius:20px;
}
.wrap_email_post{
  width: 100%;
  width:100%;
  height: 100%;
  .img-rounded{
    max-width:100%;
    top: 0;
    left: 0;
    z-index: 10;
     width: 100%;
  }

}
.form_content_post{
  margin: 20px 0;
  background: transparent
}
input[type=file] {
  background:transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  width: 180px;
  height: 50px;
  overflow: hidden;
}

input[type=file]:before {
  width: 158px;
  height: 30px;
  font-size: 16px;
  line-height: 32px;
  padding: 10px 5px;
  content: 'Select your file';
  display: inline-block;
  background: white;
  padding: 0 10px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
.label_form_add_post{
  font-size:20px;
}
